/* 全局样式表 */
* {
    margin: 0;
    padding: 0;
    /* background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947);
    background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #f7f7b6); 
    background: gradient(linear, left top, left bottom, from(#16161d), color-stop(#1f1f3a), to(#3b2f4a));
    background: linear-gradient(#16161d, #1f1f3a, #3b2f4a);
    background-attachment: fixed;
    background-repeat: no-repeat;*/
    /* overflow:auto; */
}

html,body {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑","宋体";
    overflow: hidden;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
}


